body {
  margin: 0;
  width: 100vw;
  min-width: 1440px;
  height: 100vh;
  min-height: 810px;
}

#root {
  height: 100%;
  width: 100%;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  width: 100%;
  height: 5%;
}

.Icon {
  width: 50px;
}

.LobbyBody {
  width: 98%;
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.Fields {
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.NameField,
.RoomField {
  display: flex;
  height: fit-content;
}

.RoomList {
  width: 40%;
  height: 80%;
}

.Room {
  width: 98%;
  height: 784px;
  display: flex;
  justify-content: center;
  margin: 1%;
}

.Infos {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.RoomInfos,
.Instructions {
  width: 94%;
  height: 25%;
  border: solid 2px;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 3%;
}

.game {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.game:focus-visible {
  outline: 0px;
}

.gameOver {
  position: absolute;
  width: 394px;
  height: 784px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(1px);
}

.gameOver > p {
  background-color: white;
  border: solid 2px;
  border-radius: 5%;
  padding: 3px;
}

.gameBoard {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
}

.board {
  width: max-content;
  height: max-content;
  border: solid 2px;
  border-radius: 4px;
  background-color: white;
}

.row {
  height: max-content;
  width: max-content;
  display: flex;
}

.gameInfo > .queue > .queueMember > .board {
  margin-bottom: 35px;
}

.block {
  width: 35px;
  height: 35px;
  margin: 1px;
  border: solid 1px;
  border-color: white;
  border-radius: 4px;
}

.gameInfo {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.queue {
  width: 100%;
  height: 74%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scorePanel {
  width: 100%;
  height: 24%;
}

/* Start Colors */

div#\30 {
  background-color: white;
  border-radius: 0px;
}
div#\31 {
  background-color: #afe9f9;
}
div#\32 {
  background-color: #8cc0fc;
}
div#\33 {
  background-color: #ff971a;
}
div#\34 {
  background-color: #fbd206;
}
div#\35 {
  background-color: #4dc656;
}
div#\36 {
  background-color: #cc89d6;
}
div#\37 {
  background-color: #fd7a8c;
}

div#\38 {
  background-color: #c2f0fc;
}
div#\39 {
  background-color: #c9e2ff;
}
div#\31 0 {
  background-color: #f7cb92;
}
div#\31 1 {
  background-color: #fff1ab;
}
div#\31 2 {
  background-color: #b7ebbb;
}
div#\31 3 {
  background-color: #e7c0ed;
}
div#\31 4 {
  background-color: #fabec6;
}

div#\31 5 {
  background-color: lightgray;
}

div#-\31 {
  background-color: black;
}

div#\38,
div#\39,
div#\31 0,
div#\31 1,
div#\31 2,
div#\31 3,
div#\31 4,
div#\31 5 {
  border: dotted 1px;
}

.game:focus div#\30,
.game:focus .block,
.opponentBoard > .row > div#\30,
.opponentDead > .row > div#\30 {
  background-color: whitesmoke;
}

/* End Colors */

.opponents {
  width: fit-content;
  max-width: 30%;
  height: 100%;
}

.opponentsText {
  height: 3%;
  width: 100%;
  margin: 0;
}

.opponentsGrid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 97%;
  overflow: overlay;
}

.opponent {
  margin-right: 15px;
}

.opponentBoard > .row > .block,
.opponentDead > .row > .block {
  width: 13px;
  height: 13px;
}

.opponentBoard,
.opponentDead {
  width: max-content;
  height: max-content;
  border: solid 2px;
  border-radius: 4px;
  background-color: #fff;
}

.opponentDead > .row > div#\31 5 {
  background-color: pink;
}

.opponentName {
  width: 100%;
  height: max-content;
}
