.board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: center;
}

.block {
  width: 20px;
  height: 20px;
  border: solid 1px;
}

div#\30 {
  background-color: lightgray;
}
div#\31 {
  background-color: #b37486;
}
div#\32 {
  background-color: #e7a29c;
}
div#\33 {
  background-color: #7c98a6;
}
div#\34 {
  background-color: #d67d53;
}
div#\35 {
  background-color: #5b9877;
}
div#\36 {
  background-color: #534d6b;
}
div#\37 {
  background-color: #e6bd57;
}

div#\31 1 {
  background-color: #b37486;
  border: dashed 1px;
}
div#\31 2 {
  background-color: #e7a29c;
  border: dashed 1px;
}
div#\31 3 {
  background-color: #7c98a6;
  border: dashed 1px;
}
div#\31 4 {
  background-color: #d67d53;
  border: dashed 1px;
}
div#\42 {
  background-color: #5b9877;
  border: dashed 1px;
}
div#\43 {
  background-color: #534d6b;
  border: dashed 1px;
}
div#\44 {
  background-color: #e6bd57;
  border: dashed 1px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
