.board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 2px;
  border-radius: 1%;
  background-color: whitesmoke;
}

.row {
  display: flex;
}

.block {
  width: 25px;
  height: 25px;
  margin: 1px;
  border: solid 1px;
  border-color: whitesmoke;
  border-radius: 15%;
}

div#\31 {
  background-color: #afe9f9;
}
div#\32 {
  background-color: #8cc0fc;
}
div#\33 {
  background-color: #ff971a;
}
div#\34 {
  background-color: #fbd206;
}
div#\35 {
  background-color: #4dc656;
}
div#\36 {
  background-color: #cc89d6;
}
div#\37 {
  background-color: #fd7a8c;
}

div#\38 {
  background-color: #c2f0fc;
}
div#\39 {
  background-color: #c9e2ff;
}
div#\31 0 {
  background-color: #f7cb92;
}
div#\31 1 {
  background-color: #fff1ab;
}
div#\31 2 {
  background-color: #b7ebbb;
}
div#\31 3 {
  background-color: #e7c0ed;
}
div#\31 4 {
  background-color: #fabec6;
}

div#\38, div#\39, div#\31 0, div#\31 1, div#\31 2, div#\31 3, div#\31 4 {
  border: dotted 1px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
